################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/ACM/.vs/ACM/v15/Server/sqlite3
/ACM/.vs/ACM/v15
/ACM/ACM.BL/obj/Debug
/ACM/.vs/ACM/DesignTimeBuild
/ACM/ACM.BL/bin/Debug/ACM.BL.dll
/ACM/ACM.BL/bin/Debug/ACM.BL.pdb
/ACM/Tests/ACM.BL.Test/bin/Debug/netcoreapp2.1
/ACM/Tests/ACM.BL.Test/obj
/ACM/Acme.Common/bin/Debug
/ACM/Acme.Common/obj/Debug
/ACM/packages/MSTest.TestAdapter.1.3.2/build
/ACM/packages/MSTest.TestAdapter.1.3.2
/ACM/packages/MSTest.TestFramework.1.3.2
/ACM/Tests/Acme.Common.Test/bin/Debug
/ACM/Tests/Acme.Common.Test/obj/Debug
/ACM/ACM.BL/bin/Debug
