################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs
/ACM/.vs/ACM/v15/Server/sqlite3
/ACM/.vs/ACM/v15
/ACM/ACM.BL/obj/Debug
